<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="/layout :: head">
    <title>Danh sách giao dịch nhà đất</title>
</head>
<body>
<div id="alert-message"
     th:if="${message}"
     class="alert alert-success">
    <span th:text="${message}"></span>
</div>
<h3>Danh sách giao dịch nhà đất</h3>


<div style="margin-bottom: 10px; margin-left: 110px">
    <form id="form" th:action="@{/deal/search}" method="POST">
        <input type="text" name="customerName" placeholder="Tên khách hàng" th:value="${customerName}">
        <select name="serviceType">
            <option value="0" th:selected="${serviceTypeId == null}">Chọn loại bất động sản</option>
            <option th:each="serviceType : ${serviceTypes}"
                    th:value="${serviceType.id}"
                    th:text="${serviceType.name}"
                    th:selected="${serviceType.id == serviceTypeId}">
            </option>
        </select>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>


<a style="width: 100px; margin-left: 153px" class="btn" th:href="@{/deal/new}">
    Thêm mới
</a>

<table id="deals">
    <thead>
    <tr>
        <th>Mã giao dịch</th>
        <th>Tên khách hàng</th>
        <th>Loại dịch vụ</th>
        <th>Ngày giao dịch</th>
        <th>Đơn giá(VND/m2)</th>
        <th>Diện tích(m2)</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="deal : ${deals}">
        <td th:text="${deal.dealCode}"></td>
        <td th:text="${deal.customer.fullname}"></td>
        <td th:text="${deal.serviceType.name}"></td>
        <td th:text="${deal.formattedDate}"></td>
        <td th:text="${deal.formattedPrice}"></td>
        <td th:text="${deal.acreage}"></td>
        <td>
            <a style="background: #28a745" class="btn" th:href="@{/deal/{id}(id=${deal.getId()})}">Chi tiết</a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>